@font-face {
	font-family: 'PPLettraMono-MediumItalic';
	src: url('/assets/static/fonts/PPLettraMono-MediumItalic.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPLettraMono-Medium';
	src: url('/assets/static/fonts/PPLettraMono-Medium.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPLettraMono-UltralightItalic';
	src: url('/assets/static/fonts/PPLettraMono-UltralightItalic.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPLettraMono-Ultralight';
	src: url('/assets/static/fonts/PPLettraMono-Ultralight.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-BoldItalic';
	src: url('/assets/static/fonts/PPNeueMontrealMono-BoldItalic.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-Bold';
	src: url('/assets/static/fonts/PPNeueMontrealMono-Bold.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-Book';
	src: url('/assets/static/fonts/PPNeueMontrealMono-Book.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-Medium';
	src: url('/assets/static/fonts/PPNeueMontrealMono-Medium.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-RegularItalic';
	src: url('/assets/static/fonts/PPNeueMontrealMono-RegularItalic.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-Thin';
	src: url('/assets/static/fonts/PPNeueMontrealMono-Thin.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPEditorialNew-Italic';
	src: url('/assets/static/fonts/PPEditorialNew-Italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPEditorialNew-Regular';
	src: url('/assets/static/fonts/PPEditorialNew-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPEditorialNew-UltraboldItalic';
	src: url('/assets/static/fonts/PPEditorialNew-UltraboldItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPEditorialNew-Ultrabold';
	src: url('/assets/static/fonts/PPEditorialNew-Ultrabold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPEditorialNew-UltralightItalic';
	src: url('/assets/static/fonts/PPEditorialNew-UltralightItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPEditorialNew-Ultralight';
	src: url('/assets/static/fonts/PPEditorialNew-Ultralight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPLettraMono-MediumItalic';
	src: url('/assets/static/fonts/PPLettraMono-MediumItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPLettraMono-Medium';
	src: url('/assets/static/fonts/PPLettraMono-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPLettraMono-UltralightItalic';
	src: url('/assets/static/fonts/PPLettraMono-UltralightItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPLettraMono-Ultralight';
	src: url('/assets/static/fonts/PPLettraMono-Ultralight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPMori-ExtralightItalic';
	src: url('/assets/static/fonts/PPMori-ExtralightItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPMori-Extralight';
	src: url('/assets/static/fonts/PPMori-Extralight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPMori-RegularItalic';
	src: url('/assets/static/fonts/PPMori-RegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPMori-Regular';
	src: url('/assets/static/fonts/PPMori-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPMori-SemiBoldItalic';
	src: url('/assets/static/fonts/PPMori-SemiBoldItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPMori-SemiBold';
	src: url('/assets/static/fonts/PPMori-SemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-BoldItalic';
	src: url('/assets/static/fonts/PPNeueMontrealMono-BoldItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-Bold';
	src: url('/assets/static/fonts/PPNeueMontrealMono-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-Book';
	src: url('/assets/static/fonts/PPNeueMontrealMono-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-Medium';
	src: url('/assets/static/fonts/PPNeueMontrealMono-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-RegularItalic';
	src: url('/assets/static/fonts/PPNeueMontrealMono-RegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-Thin';
	src: url('/assets/static/fonts/PPNeueMontrealMono-Thin.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-BlackItalic';
	src: url('/assets/static/fonts/PPWriter-BlackItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-BoldItalic';
	src: url('/assets/static/fonts/PPWriter-BoldItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-BoldText';
	src: url('/assets/static/fonts/PPWriter-BoldText.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-Bold';
	src: url('/assets/static/fonts/PPWriter-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-Book';
	src: url('/assets/static/fonts/PPWriter-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-RegularItalic';
	src: url('/assets/static/fonts/PPWriter-RegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-RegularText';
	src: url('/assets/static/fonts/PPWriter-RegularText.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-Regular';
	src: url('/assets/static/fonts/PPWriter-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-ThinText';
	src: url('/assets/static/fonts/PPWriter-ThinText.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-Thin';
	src: url('/assets/static/fonts/PPWriter-Thin.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-UltraboldItalic';
	src: url('/assets/static/fonts/PPWriter-UltraboldItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-Ultrabold';
	src: url('/assets/static/fonts/PPWriter-Ultrabold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPEditorialNew-Italic';
	src: url('/assets/static/fonts/PPEditorialNew-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPEditorialNew-Regular';
	src: url('/assets/static/fonts/PPEditorialNew-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPEditorialNew-UltraboldItalic';
	src: url('/assets/static/fonts/PPEditorialNew-UltraboldItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPEditorialNew-Ultrabold';
	src: url('/assets/static/fonts/PPEditorialNew-Ultrabold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPEditorialNew-UltralightItalic';
	src: url('/assets/static/fonts/PPEditorialNew-UltralightItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPEditorialNew-Ultralight';
	src: url('/assets/static/fonts/PPEditorialNew-Ultralight.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPLettraMono-MediumItalic';
	src: url('/assets/static/fonts/PPLettraMono-MediumItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPLettraMono-Medium';
	src: url('/assets/static/fonts/PPLettraMono-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPLettraMono-UltralightItalic';
	src: url('/assets/static/fonts/PPLettraMono-UltralightItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPLettraMono-Ultralight';
	src: url('/assets/static/fonts/PPLettraMono-Ultralight.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPMori-ExtralightItalic';
	src: url('/assets/static/fonts/PPMori-ExtralightItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPMori-Extralight';
	src: url('/assets/static/fonts/PPMori-Extralight.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPMori-RegularItalic';
	src: url('/assets/static/fonts/PPMori-RegularItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPMori-Regular';
	src: url('/assets/static/fonts/PPMori-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPMori-SemiBoldItalic';
	src: url('/assets/static/fonts/PPMori-SemiBoldItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPMori-SemiBold';
	src: url('/assets/static/fonts/PPMori-SemiBold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-BoldItalic';
	src: url('/assets/static/fonts/PPNeueMontrealMono-BoldItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-Bold';
	src: url('/assets/static/fonts/PPNeueMontrealMono-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-Book';
	src: url('/assets/static/fonts/PPNeueMontrealMono-Book.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-Medium';
	src: url('/assets/static/fonts/PPNeueMontrealMono-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-RegularItalic';
	src: url('/assets/static/fonts/PPNeueMontrealMono-RegularItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPNeueMontrealMono-Thin';
	src: url('/assets/static/fonts/PPNeueMontrealMono-Thin.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-BlackItalic';
	src: url('/assets/static/fonts/PPWriter-BlackItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-BoldItalic';
	src: url('/assets/static/fonts/PPWriter-BoldItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-BoldText';
	src: url('/assets/static/fonts/PPWriter-BoldText.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-Bold';
	src: url('/assets/static/fonts/PPWriter-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-Book';
	src: url('/assets/static/fonts/PPWriter-Book.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-RegularItalic';
	src: url('/assets/static/fonts/PPWriter-RegularItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-RegularText';
	src: url('/assets/static/fonts/PPWriter-RegularText.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-Regular';
	src: url('/assets/static/fonts/PPWriter-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-ThinText';
	src: url('/assets/static/fonts/PPWriter-ThinText.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-Thin';
	src: url('/assets/static/fonts/PPWriter-Thin.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-UltraboldItalic';
	src: url('/assets/static/fonts/PPWriter-UltraboldItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PPWriter-Ultrabold';
	src: url('/assets/static/fonts/PPWriter-Ultrabold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

