@import "/static/css/fonts.css";

@layer reset, base, component, utilities;

@layer reset {
    *, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    }

    html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
    }

    a {
	color: inherit;
    }
    a:hover {
	text-decoration: none;
    }
    a:visited {
	color: var(--link-hover-faint);
    }

    :where(ul:not([class])),
    :where(ol:not([class])) {
	margin-block: var(--space-4);
	padding-inline-start: var(--space-4);
    }

    li > ul, li > ol {
	margin: 0;
    }
 
    figure {
	margin-block: var(--space-4);
    }
    
    img, picture, video {
	max-width: 100%;
    }

    input, button,
    textarea, select {
	font-family: inherit;
	font-size: inherit;
    }

    textarea:not([rows]) {
	min-height: 10em;
    }

    :target {
	scroll-margin-block: 5ex;
    }

    p {
	margin-bottom: 10px;
	text-wrap: pretty;
    }

    code, kbd, samp, pre {
	font-family: var(--font-mono);
	font-size: var(--text-small);
    }

    pre {
	margin-inline: auto;
	padding-block: var(--space-4);
	overflow-x: auto;
    }

    blockquote {
	margin-block: var(--space-4);
	margin-inline-start: var(--space-6);
	font-size: 1rem;
    }

    :where(h1, h2, h3, h4, h5):not(:has([class])) {
	font-size: inherit;
    }

}

@layer base {
    :root {
	--font-fanwood: "Fanwood";
	--font-inter: "Inter";
	--font-default: var(--font-fanwood);
	--font-sans: var(--font-inter);
	--font-mono: monospace;

	--text-rs: 1rem;
	--text-base: 1.125rem;
	--text-sm: 0.825rem;
	--text-xs: 0.75rem;
	
	--spacing: 0.25rem;
	--gutter: 2.5rem;
	--page-width: calc(100% - var(--gutter));

	--layout-base: 45rem;
	--layout-md: 55rem;

	--space-1: calc(var(--spacing) * 1);
	--space-2: calc(var(--spacing) * 2);
	--space-3: calc(var(--spacing) * 3);
	--space-4: calc(var(--spacing) * 4);
	--space-5: calc(var(--spacing) * 5);
	--space-6: calc(var(--spacing) * 6);
	--space-7: calc(var(--spacing) * 7);
	--space-8: calc(var(--spacing) * 8);
	--space-9: calc(var(--spacing) * 9);

	--bg: #e0c9a6;
	--bg1: #d9be93;
	--ink: #2F2B26;
	--stamp: #8A2E2E;
	--faint: #6D6A67;
	--muted: #3d3831;
	--muted1: #43403B;
	--muted2: #595248;
	
	--border: #C9B495;
	--border1: #A09077;
	--border2: #A68D65;
	--border3: #A39D95;
	--link: #113059;
	--link-hover: #2E5B88;
	--link-hover-faint: #1F4468;
	--link-visited: #4F351C;
    }

    html {
	scroll-behavior: smooth;
	font-family: var(--font-default), serif;
	font-optical-sizing: auto;
	font-kerning: normal;
	font-variant-ligatures: common-ligatures;
    }

    body {
	font-size: var(--text-base);
	line-height: 1.44;
	background: var(--bg);
	/* color: var(--ink); */
	counter-reset: section;
    }

    main p {
	margin-block: var(--space-4);
	&:first-child {
	    margin-block-start: 0;
	}
	&:last-child {
	    margin-block-end: 0;
	}
    }

    .container {
	--container-width: var(--layout-md);
	width: min(var(--page-width), var(--container-width));
	margin-inline: auto;
    }
}

@layer component {
    .header-inner {
	min-height: 50px;
	padding-block: var(--space-6);
	font-size: var(--text-rs);
    }

    .site-nav {
    }

    main aside {
	font-variant-numeric: slashed-zero;
    }

    .content section {
	margin-block: var(--space-6);
	&:first-child {
	    margin-block-start: 0;
	}
	&:last-child {
	    amrgin-block-end: 0;
	}
    }

}

@layer utilites {
    .mx-auto {
	margin-inline: auto;
    }
    .maxw-base {
	max-width: var(--layout-base);
    }
    .minh-50 {
	min-height: 50px;
    }
    .minh-100 {
	min-height: 100px;
    }

    .gap-1 {
	gap: var(--space-1);
    }
    .gap-2 {
	gap: var(--space-2);
    }
    .gap-3 {
	gap: var(--space-3);
    }
    .gap-4 {
	gap: var(--space-4);
    }
    .gap-5 {
	gap: var(--space-5);
    }
    .gap-6 {
	gap: var(--space-6);
    }
    .gap-7 {
	gap: var(--space-7);
    }
    .gap-8 {
	gap: var(--space-8);
    }
	
    .flex {
	display: flex;
	flex-wrap: wrap;
    }

    .flex.between {
	justify-content: space-between;
    }

    .flex.center {
	align-items: center;
    }

    .grid {
	display: grid;
    }
    .grid.autofit {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .grid.split {
	grid-template-columns: 1fr 30%;
    }
    .grid.baseline {
	align-items: baseline;
    }
    .grid .split-r {
	grid-column: 2;
	grid-row: 1;
    }
    .grid .split-l {
	grid-column: 1;
	grid-row: 1;
    }

    
    .font-sans {
	font-family: var(--font-sans);
    }

    .fweight-3 {
	font-weight: 300;
    }

    .petitecaps {
	font-variant-caps: petite-caps
    }

    .text-sm {
	font-size: var(--text-sm);
    }
    .text-xs {
	font-size: var(--text-xs);
    }

    .bold {
	font-weight: bold;
    }

    .muted {
	color: var(--muted);
    }
    .muted2 {
	color: var(--muted2);
    }

}
