@import "/static/css/fonts.css";

@layer reset, base, component, utilities;

@layer reset {
    *, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    }

    html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
    }

    a {
	color: inherit;
    }
    a:hover {
	text-decoration: none;
    }
    a:visited {
	color: var(--link-hover-faint);
    }

    :where(ul:not([class])),
    :where(ol:not([class])) {
	margin-block: var(--space-4);
	padding-inline-start: var(--space-4);
    }

    li > ul, li > ol {
	margin: 0;
    }
 
    figure {
	margin-block: var(--space-4);
    }
    
    img, picture, video {
	max-width: 100%;
    }

    input, button,
    textarea, select {
	font-family: inherit;
	font-size: inherit;
    }

    textarea:not([rows]) {
	min-height: 10em;
    }

    :target {
	scroll-margin-block: 5ex;
    }

    p {
	margin-bottom: 10px;
	text-wrap: pretty;
    }

    code, kbd, samp, pre {
	font-family: var(--font-mono);
	font-size: var(--text-small);
    }

    pre {
	margin-inline: auto;
	padding-block: var(--space-4);
	overflow-x: auto;
    }

    blockquote {
	margin-block: var(--space-4);
	margin-inline-start: var(--space-6);
	font-size: 1rem;
    }

}

@layer base {
    :root {
	--font-fanwood: "Fanwood";
	--font-helveticalt: "HelveticaLTPro";
	--font-serif: "AGaramond";
	--font-iosevkac: "IosevkaCharon";
	--font-iosevkacmono: "IosevkaCharonMono";
	--font-agaramond: "AGaramond";
	--font-silkscreen: "Silkscreen";
	--font-stixtwotext: "STIXTwoText";
	--font-cossettetext: "CossetteText";
	--font-cossettetitle: "CossetteTitle";
	--font-livinguncutsans: "LivingUncutSans";
	--font-mono: monospace;

	--text-rs: 1rem;
	--text-base: 1.125rem;
	--text-sm: 0.825rem;
	
	--spacing: 0.25rem;
	--gutter: 2.5rem;
	--page-width: calc(100% - var(--gutter));

	--space-1: calc(var(--spacing) * 1);
	--space-2: calc(var(--spacing) * 2);
	--space-3: calc(var(--spacing) * 3);
	--space-4: calc(var(--spacing) * 4);
	--space-5: calc(var(--spacing) * 5);
	--space-6: calc(var(--spacing) * 6);
	--space-7: calc(var(--spacing) * 7);
	--space-8: calc(var(--spacing) * 8);
	--space-9: calc(var(--spacing) * 9;)
    }

    html {
	scroll-behavior: smooth;
	/* font-family: var(--font-default), serif; */
	font-optical-sizing: auto;
	font-kerning: normal;
	font-variant-ligatures: common-ligatures;
    }

    body {
	/* font-size: var(--text-base); */
	line-height: 1.44;
	/* background: var(--bg); */
	color: var(--ink);
	counter-reset: section;
    }

    main p {
	margin-block: var(--space-4);
	&:first-child {
	    margin-block-start: 0;
	}
	&:last-child {
	    margin-block-end: 0;
	}
    }

    .container {
	--container-width: 45rem;
	width: min(var(--page-width), var(--container-width));
    }


}

@layer component {
    .header-inner {
	min-height: 50px;
	padding-block: var(--space-6);
	font-size: var(--text-rs);
    }

    .site-nav {
	gap: var(--space-2);
	
    }
    /* .site-nav a { */
    /* 	text-decoration: none; */
    /* 	position: relative; */
    /* 	&:not(:last-child)::after { */
    /* 	    content: "/"; */
    /* 	    position: relative; */
    /* 	    right: calc(var(--space-3) * -1); */
    /* 	    position: absolute; */
    /* 	    bottom: 0; */
    /* 	} */
    /* } */
    

}

@layer utilites {
    .mx-auto {
	margin-inline: auto;
    }

    .gap-4 {
	gap: var(--space-4);
    }

    .gap-6 {
	gap: var(--space-6);
    }

    .gap-8 {
	gap: var(--space-8);
    }
	
    .flex {
	display: flex;
	flex-wrap: wrap;
    }

    .flex.between {
	justify-content: space-between;
    }

    .flex.center {
	align-items: center;
    }

    .grid {
	display: grid;
    }
    .grid.autofit {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .font-sans {
	font-family: var(--font-sans);
    }

    .fweight-3 {
	font-weight: 300;
    }

    .petitecaps {
	font-variant-caps: petite-caps
    }

    .text-sm {
	font-size: var(--text-sm);
    }

    .style-ui {
	font-family: var(--font-sans);
	/* font-size: var(--text-sm); */
	/* font-weight: 300; */
	/* letter-spacing: 0.05rem; */
	& a {
	    text-decoration: none;
	}
    }

    .font-fanwood {
	font-family: var(--font-fanwood);
	& pre, code { --font-mono: var(--font-fanwood); }
    }

    .font-helveticalt {
	font-family: var(--font-helveticalt);
	& pre, code { --font-mono: var(--font-helveticalt); }
    }

    .font-iosevkac {
	font-family: var(--font-iosevkac);
	& pre, code { --font-mono: var(--font-iosevkac); }
    }

    .font-iosevkacmono {
	font-family: var(--font-iosevkacmono);
	& pre, code { --font-mono: var(--font-iosevkacmono); }
    }
    .font-agaramond {
	font-family: var(--font-agaramond);
	& pre, code { --font-mono: var(--font-agaramond); }
    }
    .font-silkscreen {
	font-family: var(--font-silkscreen);
	& pre, code { --font-mono: var(--font-silkscreen); }
    }
    .font-stixtwotext {
	font-family: var(--font-stixtwotext);
	& pre, code { --font-mono: var(--font-stixtwotext); }
    }
    .font-livinguncutsans {
	font-family: var(--font-livinguncutsans);
	& pre, code { --font-mono: var(--font-livinguncutsans); }
    }
    .font-cossettetext {
	font-family: var(--font-cossettetext);
	& pre, code { --font-mono: var(--font-cossettetext); }
    }
    .font-cossettetitle {
	font-family: var(--font-cossettetitle);
	& pre, code { --font-mono: var(--font-cossettetitle); }
    }
    

    .block.container {
	--container-width: 90vw;
    }

}
