${site-head()}

<body>
  $for(include-before)$
  $include-before$
  $endfor$

  ${writings-header()}
  
  <main class="site-main">
    <div class="container">
      $if(date)$
      <span class="post-date">$date$</span>
      $endif$
      $if(title)$
      <h1 class="post-title">$title$</h1>
      $endif$

      $body$

      <br>
      <br>
      <p>Return to <em><a href="/">Home</a></em></p>
    </div>
  </main>

  $for(include-after)$
  $include-after$
  $endfor$
</body>

